.cart {
    padding: 3.2rem 1.6rem;
    right: 15%;
    top: 7.8rem;
    z-index: 1000;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    position: fixed;
    width: 32.5rem;
    height: auto;
    animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.top {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 160%;
    color: #1D1F22;
    margin: 0;
}

.top span {
    font-weight: 500;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    max-height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-item::-webkit-scrollbar {
    display: none;
}

.cart-items {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cart-item {
    display: grid;
    grid-template-columns: 13.6rem 2.4rem 12rem;
    gap: .8rem;

}

.item-info {
    margin-right: 1.2rem;
}

.item-title {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 160%;
}

.item-price {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
}

.attribute-title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: .8rem 0 .8rem;
}

.attributes {
    display: flex;
    gap: .8rem;
    flex-direction: row;
}

.cart-btn {
    width: auto;
    height: 2.4rem;
    padding: 0 .6rem;
    border: 1px solid #1D1F22;
    background-color: #fff;
    color: #1D1F22;
    font-size: 1.4rem;
    line-height: 2.24rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.selected {
    color: #fff;
    background-color: #1D1F22;
}

.amount-btn:hover,
.amount-btn:active {
    color: #fff;
    background-color: #1D1F22;
    transition: .15s;
    cursor: pointer;
}

.color {
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(222, 222, 222) 0px 0px 0px 1px;
}

.color-selected {
    border: 1px solid #5ECE7B;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(94, 206, 123) 0px 0px 0px 1px;
}

.amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.56rem;
}

.amount button {
    font-size: 2rem;
}

.cart-img {
    height: 19rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.cart-img img {
    height: 100%;
    transition: .3s;
}

.cart-img img:hover {
    scale: 1.1;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.bold {
    font-weight: 700;
}

.actions {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.68rem;
}

.actions a {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2.8rem;
    width: 14rem;
    height: 4.3rem;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

.view-bag {
    background: #FFFFFF;
    border: 1px solid #1D1F22;
    color: #1D1F22;
}

.view-bag:hover {
    background: #1D1F22;
    color: #FFFFFF;
}

.check-out {
    color: #FFFFFF;
    background: #5ECE7B;
    border: none;
}

/*cart position on screen*/

@media (max-width: 103.7em) {
    .cart {
        right: 10%;
    }
}

@media (max-width: 96em) {
    .cart {
        right: 7%;
    }
}

@media (max-width: 93em) {
    .cart {
        right: 5%;
    }
}

@media (max-width: 85em) {
    .cart {
        right: 2%;
    }
}